body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    border: 5px solid black;
    width: 360px;
    height: 460px;
}

.display {
    width: 360px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border: 1px solid black;
}

.previousNumber {
    font-size: 20px;
}

.currentNumber {
    font-size: 30px;
}

.operator {
    font-size: 20px;
}

.buttons {
    display: flex;
}

.functionSection {
    /* border: 1px solid saddlebrown; */
    
    margin: 0;
    width: 90px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.functionButton{
    width: 90px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
}

.numberButtons {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
}

.digits {
    font-size: 40px;
    width: 90px;
    height: 90px;
    border: 1px solid black;
}

#zero {
    width: 270px;
}

.numberButtons {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
